# SPDX-License-Identifier: GPL-2.0-or-later
#
# Driver for the Jlink V11 JTAG
#
# Slow speed to be sure it will work

adapter driver jlink
adapter speed 10000
transport select jtag
jtag_ntrst_delay 10
